/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root{
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark : #BA265D;

  --grey-light-1: #faf9f9;
  --grey-light-2: #f4f2f2;
  --grey-light-3: #f0eeee;
  --grey-light-4: #ccc;

  --grey-dark-1: #333;
  --grey-dark-2: #777;
  --grey-dark-3: #999;

  --shadow-dark : 0 2rem 6rem rgba(0,0,0,.3);
  --line: 1px solid var(--grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}
$bp-largest: 75em; // 1200px;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small : 37.5em;
$bp-smallest : 31.25em;
*{
  margin:0;
  padding: 0;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-large){
    font-size: 50%;
  }
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}